
.wrapper-of-wrapper {
  filter: blur(100px);
    pointer-events: none;
    min-width: 100%;
    margin-top: 0px;
    height: 180%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    opacity: 0.3;
}
.wrapper {border-radius: 99999px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    transform: translate(-50%, -50%) scale(0.6);
    overflow: hidden;}
.rainbow {
      animation: ColorBlobs_spin__CbrXa 8s linear infinite;
    background: conic-gradient(from 0deg,#08f,#f60,#bbffa1,#4c00ff,#ab2666,#09f);
  position: absolute;
    width: 100vw;
    height: 100vw;
    transform: translate(-50%, -50%);
}
@keyframes ColorBlobs_spin__CbrXa {
    0% {
        transform: translate(-50%,-50%) rotate(0deg) scale(2)
    }

    to {
        transform: translate(-50%,-50%) rotate(1turn) scale(2)
    }
}
