.bgAnimation {
  position: relative;
  background-image: url("/bg.png");
  animation: slide 20s linear infinite;
  box-shadow:
    inset 0px -100px 100px -100px rgba(0, 0, 0, 0.7),
    inset 0px 10px 100px 60px rgba(255, 255, 255, 0.9);
  z-index: -1;
}
.bgAnimation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/bg.png");
  background-repeat: repeat;
  animation: slide 20s linear infinite;
  box-shadow:
    inset 0px -100px 100px -100px rgba(0, 0, 0, 0.7),
    inset 0px 10px 100px 60px rgba(255, 255, 255, 0.9);
  z-index: -1;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

.custom-gradient {
  background: linear-gradient(
    219deg,
    #3d6bdb,
    #413ddb,
    #3d63db,
    #000000,
    #87a7f7
  );
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}

.wrapper-of-wrapper {
  filter: blur(100px);
  pointer-events: none;
  position: fixed;
  min-width: 100%;
  margin-top: 0px;
  height: 180%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  opacity: 0.3;
}
.wrapper {
  border-radius: 99999px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  transform: translate(-50%, -50%) scale(0.6);
  overflow: hidden;
}
.rainbow {
  animation: ColorBlobs_spin__CbrXa 8s linear infinite;
  background: conic-gradient(
    from 0deg,
    #08f,
    #f60,
    #bbffa1,
    #4c00ff,
    #ab2666,
    #09f
  );
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  transform: translate(-50%, -50%);
}
@keyframes ColorBlobs_spin__CbrXa {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(2);
  }

  to {
    transform: translate(-50%, -50%) rotate(1turn) scale(2);
  }
}
